
{% extends "layout.html" %}
{% block content %}
<div class="ui two column relaxed grid">
    <div class="ui corner labeled input">
        <input type="text" placeholder="Username">
        <div class="ui corner label">
        <i class="asterisk icon"></i>
        </div>
    </div>
    <div class="ui corner labeled input">
        <input type="text" placeholder="Password">
        <div class="ui corner label">
        <i class="asterisk icon"></i>
        </div>
    </div>
</div>
{% endblock %}